In [6]:
char_to_index = {char: idx for idx, char in enumerate(" 0123456789ADST")}
char_to_index

{' ': 0,
 '0': 1,
 '1': 2,
 '2': 3,
 '3': 4,
 '4': 5,
 '5': 6,
 '6': 7,
 '7': 8,
 '8': 9,
 '9': 10,
 'A': 11,
 'D': 12,
 'S': 13,
 'T': 14}

In [18]:
from pandas import concat, read_csv

CSV_KEYS = "DE", "DR", "V"
df = concat(
    (read_csv(f"R/{key}.csv", index_col=0, dtype=str) for key in CSV_KEYS), keys=CSV_KEYS, names=("RE",)
)
df

        T  R   E  A DE     DA      H      M
RE I
DE 1    1  T   0  0  8  2,947  1,425  4,611
   1    1  D   1  0  3  1,818      0    650
   1    1  D   2  0  7  4,735    487    308
   1    1  S   1  0  3  2,078  2,748      0
   1    1  S   1  1  3    269  5,848    189
...    .. ..  .. .. ..    ...    ...    ...
V  467  2  T   7  2  4  6,453      0  9,665
   467  2  D  10  0  5  6,272     62  1,417
   467  2  D   6  1  7  5,267     78     76
   467  2  S   5  1  6  4,602  8,211    716
   467  2  S   2  5  7  1,979  7,396    329

[9110 rows x 8 columns]

In [27]:
df[df.isnull().any(axis=1)]

          T    R    E    A   DE   DA    H    M
RE I
DE 16   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
   16   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
   37   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
   154  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
   349  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...     ...  ...  ...  ...  ...  ...  ...  ...
V  396  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
   396  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
   396  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
   396  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
   396  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[67 rows x 8 columns]

In [28]:
df.iloc[150:160]

         T    R    E    A   DE     DA      H      M
RE I
DE 16    1    T   12    1   11  5,006      0  9,911
   16    1    D    8    0    2  7,558      0  3,014
   16    1    D   19    8    5  6,500  1,433      0
   16    2    D   18    5    3  5,863      0      0
   16    2    T   17    5    4  8,693      0  4,320
   16    2    D   16    2    8  5,060      0      0
   16    2    S   16   16    4  3,532  8,915    850
   16    2    S    4   18    5    430  9,986      0
   16  NaN  NaN  NaN  NaN  NaN    NaN    NaN    NaN
   16  NaN  NaN  NaN  NaN  NaN    NaN    NaN    NaN